@model ProjetHeritageGroupe8.Models.Utilisateur

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UtilisateurID" />
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prenom" class="control-label"></label>
                <input asp-for="prenom" class="form-control" />
                <span asp-validation-for="prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passWord" class="control-label"></label>
                <input asp-for="passWord" class="form-control" />
                <span asp-validation-for="passWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeUtilisateur" class="control-label"></label>
                <select asp-for="typeUtilisateur" class="form-control"></select>
                <span asp-validation-for="typeUtilisateur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
