@{
    ViewData["Title"] = "page de creation d'heritage";
}

<div class="text-center">
    <h1 class="display-4">Heritage</h1>
    <button type="button" class="btn-success btn-lg" asp-action="">soumettre votre cas</button>
</div>
